* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

body{
    background-color: #15202B;
    color: white;
}

.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 0.8fr 2fr 1.2fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
     "sidebar main content"
     "sidebar main content"
     "sidebar main content";
     
    grid-gap:1rem;
}

/* ------------------------sidebar ---------------*/

#sidebar{
    display: flex;
    flex-direction: column;
    grid-area: sidebar;
    padding: 1rem 2rem 1rem 4rem;
}
.sidebar-nav{
    padding-bottom: 1.2rem;
}
#sidebar .sidebar-nav i{
    padding: 7px;
}

#sidebar .primary-link{
    padding:1rem;
    background-color: rgb(29, 161, 242);
    color:white;
    text-align: center;
    font-weight: bold;
    border-radius: 20px;
}



/* --------------------------main-------------------------- */
main{
    /* background:coral; */
    grid-area: main;
    border: 1px solid rgba(114, 110, 110, 0.13);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;

}

.feedone{
    display: flex;
    border: 1px solid rgba(114, 110, 110, 0.13);
    border-radius: 1px;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
    padding: 1rem;
    position: absolute;
    width: 100%;
    height: 10vh;
}


main .feedone i{
    position: absolute;
    right: 0;
    margin-right: 2.3rem;
    color:rgb(29, 161, 242);
}

.feedtwo{
    display: flex;
    position:absolute;
    top:65px;
    width: 100%;
    height: 17vh;
    align-content: right;
    align-items: flex-end;
    flex-direction:column;
    border: 1px solid rgba(114, 110, 110, 0.13);
    }

.feedtwo textarea{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-self:end; 
    justify-items: right;
    width: 85%;
    margin:1rem;
    /* margin-top: 1.3rem; */
    outline: none;
    resize: none;
    border: none;
    background-color: #15202B;
    color: rgb(116, 100, 100);
    font-size: 18px;
    font-weight: bolder;
    overflow: hidden;
}

.image{
    position: absolute;
    margin: 0.5rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: url("./image/1611517325680.jpg");
    top:0;
    left: 0;
    background-size: cover;
}

.feedtwo .sm-navbar{
    display: flex;
    position: relative;
}
.feedtwo .sm-navbar .media{
    position: absolute;
    right: 34rem;
    background: none;
    border: none;
    outline: none;
    color: rgb(29, 161, 242);
}
.feedtwo .sm-navbar .gif{
    position: absolute;
    right: 32rem;
    background: none;
    border: none;
    outline: none;
    color: rgb(29, 161, 242);
   
}
.feedtwo .sm-navbar .poll{
    position: absolute;
    right: 30rem;
    background: none;
    border: none;
    outline: none;
    color: rgb(29, 161, 242);
}
.feedtwo .sm-navbar .emoji{
    position: absolute;
    right: 28rem;
    background: none;
    border: none;
    outline: none;
    color: rgb(29, 161, 242);
}
.feedtwo .sm-navbar .schedule{
    position: absolute;
    right: 26rem;
    background: none;
    border: none;
    outline: none;
    color: rgb(29, 161, 242);
}

.feedtwo .sm-navbar #btn{
    background-color: rgb(29, 161, 242);
    outline: none;
    border: none;
    border-radius: 20px;
    color: white;
    padding:12px 16px;
    margin-right:15px ;
    margin-bottom: 7px;
    font-weight: bold;
    font-size: 15px;
}

 
.tweets{
    display: flex;
    flex-direction: column;
    position: absolute;
    border: 1px solid rgba(114, 110, 110, 0.13);
    height: 25vh;
    width: 100%;
    top:190px;

}

.tweets h3{
    margin-left: 4rem;
    margin-top: 0.5rem;
}

.tweets p{
    margin-left: 4rem;
    margin-top: 0;
    color:white;
}

.tweets .tweet-icons{
  display: flex;
  justify-content: space-around;

}
.tweets .tweet-icons button{
    background: none;
    outline: none;
    border: none;
    margin:5px ;
    color:lightgray;
}

.tweets .tweet-icons i span{
    margin: 10px;
    
}

.tweets-two{
    display: flex;
    flex-direction: column;
    position: absolute;
    border: 1px solid rgba(114, 110, 110, 0.13);
    height: 25vh;
    width: 100%;
    top:365px;
}

.tweets-two h3{
    margin-left: 4rem;
    margin-top: 0.5rem;
}

.tweets-two  p{
    margin-left: 4rem;
    margin-top: 0;
    color:white;
}

.tweets-two  .tweet-icons{
  display: flex;
  justify-content: space-around;

}
.tweets-two  .tweet-icons button{
    background: none;
    outline: none;
    border: none;
    margin:5px ;
    color:lightgray;
}

.tweets-two  .tweet-icons i span{
    margin: 10px;
    
}
/* ----------------------content ----------------*/

.content{
    /* background: cornflowerblue; */
    grid-area: content;
    border: 1px solid rgba(114, 110, 110, 0.13);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

 .content .search input{
     position: absolute;
     display: flex;
     top:0;
    width:78%; 
    height: 2vh;
    background: none;
    border:none;
    background-color: rgb(114,110,110,0.13);
    padding: 1rem;
    border-radius: 15px;
    outline: none;
    color: white;
    justify-content: center;
    text-align: start;
    margin: 1rem;
}

.content .news{
    position: absolute;
    top:65px;
    border: 1px solid rgba(114, 110, 110, 0.13);
    width: 85%;
    align-items: center;
    border-radius: 15px;
   margin: 1rem;
    background-color: rgb(114,110,110,0.13);
}

.content .news h3{
    padding-top: 1rem;
    margin: 0.5rem;
    align-items: center;
}

.content .news .news1 {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.content .news .news1 img{
    position: absolute;
    margin: 0.5rem;
    width: 80px;
    height: 80px;
    background-image: url("./image/CiLy4der.jpeg");
    right:0;
    top:58px;
    width: 35%;
    border-radius: 1rem;
    border: none;
    background-size: cover;
    background-repeat: no-repeat;
}

.content .news .news2{
    padding: 10px;
    position: relative;
}

.content .news .news2 i{
    position: absolute;
    padding: 5px;
    top:0;
    right: 0;
}


.content .follow{
    background-color: rgb(114,110,110,0.13);
    position: relative;
    width: 86%;
    height: 30vh;
    margin: 1rem;
    top:375px;
    border-radius: 1rem;

}

.content .follow h3{
    padding: 10px;
    font-weight: bold;
}

.content .follow .follow1 .followimg{
    position: relative;
}

.content .follow .follow1 .followimg img{
    position: absolute;
    margin: 0.5rem;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    top:0;
    left: 0;
    border: none;
    background-size: cover;
    background-repeat: no-repeat;
}

.content .follow .follow1 .followimg{
    position: relative;
}
.content .follow .follow1 .followimg button{
    position: absolute;
    padding:10px 15px;
    font-weight: bold;
    border: 2px solid rgb(29, 161, 242);
    color: rgb(29, 161, 242);
    background: none;
    outline: none;
    top: 0;
    right: 0;
    margin: 0.5rem;
    border-radius: 1.5rem;
}

.content .follow .follow2{
    position: absolute;
    top:175px;
}

.content .follow .follow2 small{
    padding: 10px;
    font-size: 15px;
    color: rgb(29,161,242);
}


.content .follow .follow1 .followimg .followme{
    margin-left: 3.4rem;
}

.content .follow .follow1 .followimg .followme h3{
    margin: 0;
}

.content .follow .follow1 .followimg .followme small{
    margin-left:15px;
    margin-top: auto;
    margin-bottom: 25px;
} 

.content hr{
    color: rgba(114, 110, 110, 0.13);
    border-width: 0.5px;
}